<div class="container mx-auto py-3">
    <% @restaurants.each do |restaurant| %>
    <h4 class="mx-auto py-3">
        <%= restaurant.name %>
    </h4>
    <ul>
        <li>
            <%= restaurant.address %>
        </li>
        <li>
            <%= restaurant.category %>
        </li>
    </ul>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
    <% end %>
</div>
<!-- #     restaurant GET    /restaurants/:id(.:format)                        restaurants#show
 -->